BasedOnStyle: WebKit
IndentWidth: 2
TabWidth: 2
AccessModifierOffset: -2
UseTab: ForIndentation
BreakBeforeBraces: Attach
SortIncludes: false
IncludeBlocks: Preserve
AlignAfterOpenBracket: DontAlign
ColumnLimit: 80
SpaceInEmptyBraces: Block
